/node_modules
/.phpunit.cache
/public/build
/public/hot
/public/storage
.env.production
/.fleet
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
/docker/volumes
.env
.env.back
.env.testing
composer.lock
